* {
	padding: 0px;
	margin: 0px;
	border: none;
	font-family: poppins, sans-serif;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}
address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

input[type='file'] {
	max-width: 100%;
}

/*сверху ресет стилей*/
.header{
	background-color: #F1F1F1;
}
.container{
	margin: 0 13%;
}
@media (min-width: 1125px){
	.container{
		width: 1125px;
		margin: 0 auto;
	}
}
@media (max-width: 900px){
	.container{
		margin: 0 30px;
	}
}
.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 47px 0;
}
.header__logo{
	display: flex;
	align-items: flex-end;
	gap: 4px;
}
.myname{
	font-weight: 700;
	font-size: 32px;
	line-height: 100%;
}
.point{
	width: 8px;
	height: 8px;
	background-color: #FDA300;
	border-radius: 50%;
}
.nav{
	display: flex;
    align-items: center;
	gap: 50px;
}
@media (max-width: 900px){
	.nav a{
		display: none;
	}
}
.nav__link{
	font-weight: 500;
	color: #000000;
	font-size: 14px;
}
.nav__link:hover{
	color: #606060;
}
.nav__link:nth-child(1) {
  color: #606060;
}
.content{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
@media (max-width: 900px){
	.content{
		display: block;
	}
	.content__title{
		font-size: 34px;
		line-height: 100%;
	}
	.content__title_span{
        font-size: 28px;
		line-height: 100%;
	}
	.content__image{
		width: 100%;
		height: auto;
	}
	.content__inner{
		max-width: 100%;
		margin-bottom: 20px;
	}
}
.content__inner{
	max-width: 482px;
	margin-bottom: 30px;
}
.content__title{
	font-weight: 600;
	font-size: 44px;
}
.content__subtitle{
	margin-top: 20px;
	font-weight: 400;
	font-size: 14px;
	line-height: 200%;
}
.content__image{
	width: 494px;
    height: 613px;
}
.section{
	display: flex;
	gap: 30px;
	margin:auto;
    margin: 90px 0px;
    justify-content: center;
}
.item__image{
	width: 68px;
	height: 68px;
}
.item__title{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 24px;
	margin: 30px 0px 10px;
}
.item__subtitle{
	font-weight: 400;
	font-size: 14px;
	line-height: 200%;
}
.item{
	width: 370px;
	height: 228px;
}